@use "./variables.scss" as *;

// put your custom CSS here!

[saved-theme="dark"] img[alt*="#invert"],
[data-theme="dark"] img[alt*="#invert"] {
  /* filter: invert(1) hue-rotate(180deg); */
  filter: invert(1) hue-rotate(180deg) contrast(1) brightness(1);
  mix-blend-mode: screen;
  }

[saved-theme="light"] img[alt*="#invertW"],
[data-theme="light"] img[alt*="#invertW"] {
  filter: invert(1) hue-rotate(180deg);
}
